header {
    top: 0;
    left: 0;
    right: 0;

    height: 9rem;
    padding: 1rem;
    background: #0C2D46;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, p {
margin: 0;
}

span {
    font-size: large;
}

main {
padding: 1rem;
height: 100%; 
margin-top: 10rem; 
}

body {
    color: white;
}

body, html {
height: 200%;
background-color: #0C2D46;
}

* {
box-sizing: border-box;
}

a {
    list-style: none;
    text-decoration: none;
    color: white;
}

#main-banner {
    text-align: center;
}

.text-container, .img-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#call {
    background-color : #31B0D5;
    color: white;
    padding: 10px 20px;
    border-radius: 40%;
    border: 0;
    border-color: #46b8da;
    margin: 20px;
  }
  
#button {
position: fixed;
bottom: -4px;
right: 10px;
}

